@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(0,0,0);
}
header{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 95px;
    line-height: 130px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 0px 0px 50px 50px;
    background-position: left;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url(../images/resized2/blog.jpg);
}
main{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    padding: 3rem 0rem;
    background-color: rgb(0,0,0);
    min-height: 70vh;
}
.content-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content{
    width: 25vw;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:3rem 0;
    
}
.categories{
    margin-top: 1rem;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.category{
    padding: .4rem;
    border-radius: 7px;
    font-size: 12px;
    background-color: #ffffffc6;
    color: #F58632;
    margin-top: .4rem;
}
.content-image{
    width: 70%;
    border-radius: 10px;
}
.content h4{
    color: #F58632;
    text-align: left;
    margin: 1rem 0;
}
.content p{
    width: 70%;
    font-size: 15px;
}
@media screen and (max-width:1000px) {
    header{
        font-size: 12vw;
        background-position: center !important;
    }
}
@media screen and (max-width:700px) {
    .content{
        width: 80vw;
        height: 80vw;
        margin: 3rem 0;
    }
    .content:nth-child(5){
        margin-bottom: 7rem;
    }
}