@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(0,0,0);
}
header{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 95px;
    line-height: 130px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 0px 0px 50px 50px;
    background-position: left;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url(../images/resized2/contact.jpg);
}
.title{
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    padding-top: 3rem;
}
main{
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0,0,0);
    color: #FFFFFF;
    padding: 3rem 0rem;
}
form{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    justify-content: space-evenly;
    min-width: 40%;
}
form input{
    margin: 1rem 0rem;
    height: 50px;
    max-width: 400px;
    background-color: transparent;
    border: white .6px solid;
    color: white;
    padding: 0 1rem;
    border-radius: 5px;
}

.name{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.name input{
    margin: 0rem;
}
.name label{
    margin:  1rem 0rem ;
}
#message{
    height: 200px;
}
form button{
    background-color: #F58632;
    height: 55px;
    width: 40%;
    border: none;
    color: #FFFFFF;
    margin: 1rem 0;
}
.contact-info-holder{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
}
.contact-info{
    width: 100%;
    padding: 1rem;
}
.contact-info  hr{
    margin-top: 1.5rem;
}
.contact-info small,a{
    font-size: 15px;
    color: #F58632;
    text-decoration: none;
}
.iconify{
    width: 50px;
    height: 50px;
    margin: 1rem;
}
@media screen and (max-width:1000px) {
    header{
        font-size: 12vw;
        background-position: center !important;
    }
}
@media screen and (max-width:770px) {
    footer{
        text-align: center;
        font-size: 0.6rem;
       
    }
    .iconify{
        width: 30px;
        height: 30px;
    }
    main{
        flex-direction: column;
        text-align: center;
    }
    form{
        min-width: 80%;
        text-align: left;
    }
    form button{
        width: 100%;
    }
}