footer{
    min-height: 20vh;
    background-color: #38383B;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.iconify{
    width: 50px;
    height: 50px;
    margin: 1rem;
}
@media screen and (max-width:770px) {
    footer{
        text-align: center;
        font-size: 0.6rem;
       
    }
    .iconify{
        width: 30px;
        height: 30px;
    }
}