@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,900;1,700&display=swap');



body{
    background: black;
    margin: 0;
    font-family: 'Overpass', cursive !important;
}

figure{
    display: flex;
    flex-wrap: nowrap;
    width: 400vw;

    left: 0vw;
    padding: 0;
    transition: 2s;
	/* display: grid;
	grid-template-columns: repeat(10, 100vw);
	grid-template-rows: 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	overflow: scroll;
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem; */

}
@keyframes slidebar {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
.slide{
    animation: slide 25s infinite  ;
    animation-name: slide;
    transition: ease-in-out;
}
@keyframes slide {
    0%{
        transform: translateX(0);
        left: 0vw;
    }
    5%{
        transform: translateX(0); 
    }
    25%{
        left: -100vw;
        transform: translateX(-100vw);
    }
    30%{
        left: -200vw;
        transform: translateX(-100vw);
    }
    50%{
        transform: translateX(-200vw);
    }
    55%{
        transform: translateX(-200vw);
    }
    75%{
        transform: translateX(-300vw);
    }
    80%{
        transform: translateX(-300vw);
    }
    100%{
        transform: translateX(0);
    }
}
.slider{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../images/resized2/erwi-rt8nASaIQZA-unsplash-min.jpg);
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    background-position: center;
    background-attachment: fixed !important;
    animation: scale 25s infinite ease;
    /* border-bottom: #F58632 3px solid; */
    /* border-radius: 0 0 10% 10%; */
}
@keyframes scale {
    0%{
        transform: scale(1);
    }
    5%{
        transform: scale(1.1);
    }
    25%{
        transform: scale(1);
    }
    30%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1);
    }
    55%{
        transform: scale(1.1);
    }
    75%{
        transform: scale(1);
    }
    80%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
.slider:nth-child(2){
    background-repeat: no-repeat !important;
    background-size: cover !important ;
    background-position: center;
    background-attachment: fixed !important;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../images/resized2/jeffery-erhunse-WJwRr3pW5FA-unsplash-min.jpg
    );
}
.slider:nth-child(3){
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center;
    background-attachment: fixed !important;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../images/resized2/grow.jpg);
}
.slider:nth-child(4){
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center;
    background-attachment: fixed !important;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../images/resized2/osman-rana-G7VN8NadjO0-unsplash.jpg);
}
.slider-button{
    position: absolute;
    width: 50px;
    height: 50px;
    color: white;
    background-color: #F58632;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 30vh;
    z-index: 2;
    margin: 3rem;
}
.right{
    float: right;
    right: 0%;
}
.slider-tracker{
    width: 100%;
    position: absolute;
    transform: translate(0%,0%);
    z-index: 2;
    bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.tracker-path{
    overflow: hidden;
    border-radius: 5px;
    height: .5rem;
    width: 30%;
    background-color: #95959638;
    backdrop-filter: blur(10px);
}
.tracker{
    background-color: #F58632;
    height: 100%;
    width: 25%;
    border-radius: 5px;
    animation: track 25s infinite ;
    animation-name: track;
    transition: ease-in-out;
}
@keyframes track {
    0%{
        transform: translateX(0);
        left: 0vw;
    }
    5%{
        transform: translateX(0); 
    }
    25%{
        transform: translateX(100%);
    }
    30%{
        transform: translateX(100%);
    }
    50%{
        transform: translateX(200%);
    }
    55%{
        transform: translateX(200%);
    }
    75%{
        transform: translateX(300%);
    }
    80%{
        transform: translateX(300%);
    }
    100%{
        transform: translateX(0);
    }
}
.slider p{
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    text-align: left;
    color: #FFFFFF;
}
.slider .text{
    position: relative;
    left:6rem ;
    top: 5rem;
    color: white;
    animation: fadein 4.5s infinite;
}
/* @keyframes fadein {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0; 
    }
} */
.slider i{
    color: #ffffffa1;
}
.slider p{
    margin: 0;
    text-align: left;
}
.slider .text hr{
    margin: 2rem 0;
    border: none;
    background-color: rgba(255, 255, 255, 0.407);
    height: 0.3px;
}
.slider .empire{
    color:#F58632 ;
    margin-top: -2rem;
}
main{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-title{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    
}
.section-title p{
    width: fit-content;
    font-size: 36px;
    margin: 0 1rem;
    color: white;

}
.section-title hr{
    width: 60%;
    background-color: #F58632;
    color: #F58632;
    height: 1px;
    border: none;
    transform: scale(0);
    transition: 1s ease-in-out;
}
.scale{
    transform: scale(1);
}
.section-title span{
    color: #F58632;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    width: 100%;
    min-height: 90vh;
    padding-top: 4rem;
}
.about-content{
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    font-family: 'Merienda One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 40px;
    color: #FFFFFF;
}
.about-content div{
    width: 30%;
}
.about-image img{
    width: 100%;
}
.awards img{
    width: 20vw;
    margin-top: 2rem;
}
.service{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 1rem;
    background: linear-gradient(to right, #feb47b37, #ff7f5f1f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 7px;
    overflow: hidden;
    backdrop-filter: blur(100px);
}
.service:nth-child(even){
    flex-direction: row-reverse;
    background: linear-gradient(to right, #4ca2cd48, #67b26f54); 
}
.service:nth-child(even) button{
    background: linear-gradient(to right, #4ccdcb48, #67b26f8a); 
}
.service .image{
    width: 50%;
    height: 107%;
    margin-bottom: -2%;
}
.service .image img{
    width: 100%;
    height: 103%;
}
.service .details{
    width: 40%;
    padding: 2rem;
}
.service .details:nth-child(even){
    margin-left: 3rem;
}
.service button{
    background-color: #ffa561af;
    color: white;
    backdrop-filter: blur(5px);
    padding: 0.7rem 3rem;
    border: none;
    margin: 1rem 0;
    border-radius: 0.2rem;
}

.service .title{
    font-family: 'Merienda One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    color: #FFFFFF;
    line-height: 1;
}
.service .desc{
    margin: 1rem 0;
    width: 100%;
}
.team{
    min-height: auto;
}
.members{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.member{
    width: 20vw;
    height: 20vw;
    margin: 2rem;
    color: #ffffff;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.26), rgba(0, 0, 0, 0.26)), url(../images/resized2/team.jpg);
}
.testimonies{
    width: 70%;
    min-height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.testifier{
    font-size: 15px;
    margin: 1rem 0;
    color: #F58632;
    font-weight: 300;
}
.testimony{
    border-left: #F58632 1px solid;
    width: 20%;
    height: auto;
    font-size: 12px;
    padding: 0 1rem;
    font-weight: 100;
}

@media screen and (max-width:1000px) {
    .slider p{
        flex-direction: row;
        font-size: 10vw;
        margin-bottom: 4rem;
        justify-content: center;
        display: flex;
        text-align: center;
    }
    .about-content{
        flex-direction: column;
        font-size: 5vw;
    }
    .about-content div{
        width: 70%;
    
    }
    .about-image img{
        width: 70%;
        align-self: center;
        margin: 2rem;
        padding-top: 4rem ;
    }
    .section-title p{
        font-size: 5vw;
    }
    .section-title{
        margin: 1rem;
    }
    .testimonies{
        flex-direction: column;
    }
    .testimony{
        width: 70vw;
        margin: 1rem;
    }
}
@media screen and (max-width:770px) {
    .classic{
        margin-bottom: -.1rem;
    }
    .slider-tracker{
        bottom: 1.5rem;
    }
    .slider{
        height: 100vh;
        background-size: cover !important;
        background-position: center !important;
        margin-top: 5rem;
        justify-content: center;
    }
    .slider .text{
        top: 0;
        left: 0;
    }
    .about-content div{
        width: 90%;
        text-align: center;
        font-size: 4vw;
    
    }
    .awards img{
        width: 40vw;
    }
  .service{
    flex-direction: column;
    align-items: center;
    width: 90%;
    
  }
  .section-title{
    flex-direction: column;
    width: 80%;
    justify-content: flex-start;
  }
  .section-title hr{
    width: 80%;
    margin: 0.5rem;
  }
  .service .details{
    width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .service:nth-child(even){
    flex-direction: column;
  }
  .service .details:nth-child(even){
    width: 100%;
    padding: 2rem 0;
    margin-left: 1rem;
}
.service .image {
    width: 100%;
    height: 107%;
    margin-bottom: 2rem;
}
.service .title{
    font-size: 7vw;
    margin: 2rem;
}
.service .desc{
    width: 75vw;
    padding: 0 1rem;
}
.member{
    width: 70%;
    height: 70vw;
    background-position: center !important;
}
}