@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(0,0,0);
}
header{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 95px;
    line-height: 130px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 0px 0px 50px 50px;
    background-position: left;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url(../images/resized2/artist.jpg);
}
main{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    padding: 3rem 0rem;
    background-color: rgb(0,0,0);
    min-height: 70vh;
}
.content-holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}
.what-you-get{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.what-you-get img{
    width: 70%;
    margin: 1rem 2rem;
}
h2{
    font-size: 40px;
    text-align: center;
    margin: 3rem;
}
.offer{
    width: 25vw;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:3rem;
    color: #F58632;
    font-size: 30px;
    text-align: center;
}
.pricing{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 5rem;
}
.price-cards{
    background-color: black;
    width: 25vw;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(62, 50, 35, 0.562) 3px 3px 15px, rgba(128, 128, 128, 0.562) 3px 3px 15px;
}
.plan{
    height: 20%;
    width: 100%;
    background: #67B26F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin: 0%;
}
.plan2{
    background: #A770EF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.plan3{
    background: #ff7e5f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.price{
    color: #188dad;
    margin: 2rem;
    font-size: 35px;
}
.get-started{
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1rem 2rem;
    background: #ff7e5f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.coming{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 6rem 0;
    padding: 3rem 0;
}
.coming .lottie{
    width: 40%;
}
.coming h1{
    text-align: center;
    color: #f58632;
    font-size: 50px;
}
@media screen and (max-width:1000px) {
    header{
        font-size: 12vw;
        background-position: center !important;
        height: 50vh;
    }
    .what-you-get{
        flex-direction: column;
    }
    h2{
        font-size: 5vw;
    }
    .what-you-get img{
        width: 50%;
    }
    .offer{
        width: 100%;
        font-size: 4vw;
    }
    .pricing{
        flex-direction: column;
    }
    .price-cards{
        width: 95%;
        margin: 2rem 0;
    }
}
@media screen and (max-width:900px) {
    .content{
        width: 80vw;
        height: 80vw;
        margin: 3rem 0;
    }
    .coming{
        margin: 4rem 0;
        padding: 2rem 0;
    }
    .coming .lottie{
        width: 70%;
    }
    .coming h1{

        font-size: 40px;
    }
}