@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(0,0,0);
}
header{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 95px;
    line-height: 130px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 0px 0px 50px 50px;
    background-position: left;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),url(../images/resized2/studio.jpg);
}
.title{
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    padding-top: 3rem;
}
main{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0,0,0);
    color: #FFFFFF;
    padding: 3rem 0rem;
}
.pricing{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 5rem;
}
.price-cards{
    background-color: black;
    width: 30vw;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    background-position: left;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    box-shadow: rgba(62, 50, 35, 0.362) 3px 3px 15px, rgba(128, 128, 128, 0.262) 3px 3px 15px;
}
.plan{
    height: 20%;
    width: 100%;
    background: #67B26F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    margin: 0%;
}
.plan2{
    background: #A770EF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.plan3{
    background: #ff7e5f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.price{
    color: #188dad;
    margin: 2rem 0;
    font-size: 20px;
}
.plan-desc{
    width: 90%;
    font-size: 15px;
}
form{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    justify-content: space-evenly;
    min-width: 40%;
}
form input{
    margin: 1rem 0rem;
    height: 50px;
    max-width: 400px;
    background-color: transparent;
    border: white .6px solid;
    color: white;
    padding: 0 1rem;
    border-radius: 5px;
}

.name{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.name input{
    margin: 0rem;
}
.name label{
    margin:  1rem 0rem ;
}
#message{
    height: 200px;
}
form button{
    background-color: #F58632;
    height: 55px;
    width: 40%;
    border: none;
    color: #FFFFFF;
    margin: 1rem 0;
}
.contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.contact-info-holder{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
}
.contact-info{
    width: 100%;
    padding: 1rem;
}
.contact-info  hr{
    margin-top: 1.5rem;
}
.contact-info small{
    font-size: 15px;
    color: #F58632;
}
.iconify{
    width: 50px;
    height: 50px;
    margin: 1rem;
}
.action-btn{
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1rem 2rem;
    background: #ff7e5f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.appointy{
    width: 50%;
    min-height: 70vh;
}
@media screen and (max-width:1000px) {
    header{
        font-size: 12vw;
        background-position: center !important;
    }
    .pricing{
        flex-direction: column;
    }
    .price-cards{
        width: 80%;
        margin: 2rem;
    }
}
@media screen and (max-width:770px) {
    footer{
        text-align: center;
        font-size: 0.6rem;
       
    }
    .iconify{
        width: 30px;
        height: 30px;
    }
    .contact{
        flex-direction: column;
        text-align: center;
    }
    form{
        min-width: 80%;
        text-align: left;
    }
    form button{
        width: 100%;
    }
}
@media screen and (max-width:500px) {
    .price-cards{
        width: 90%;
        margin: 2rem 0;
    }
}